/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.content {
    margin: 32px;
}
.link {
  text-decoration: none;
  color: gray;
  font-family: helvetica;
}
h1 {
  font-family: helvetica, sans-serif;
  color: #B2B2B2;
  size: 25px;
  text-align: left;
  margin-left: 40px;
  margin-top: 40px;
}
p.intro{
  width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

a.basallogo {
  padding: 0px;
  margin: 0 auto;
  display: block;
  align: center;
  width: 200%;
  max-width: 1000px;
  max-height : 400px;
}

.imgs img {
  width: 50%;
}
.aboutimage {
  width: 85%;
  margin: 0 auto;
  display: block;
}
footer {
  font-family: helvetica, sans-serif;
text-align: center;
color: #d3d3d3;
padding-top: 20px;
}
.main-nav {
  padding: 32px;
}
.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav li {
  margin-bottom: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2FBF71;
}

.main-nav a {
  background-color: white;
  display: block;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: #CECECE;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}

.main-nav a:active {
  background-color: grey;
}

@media screen and (min-width: 600px) {
  .main-nav {
    background-color: white;
    border-bottom: 1px solid #2FBF71;
  }

  .main-nav li {
    display: inline-block;
    border-bottom: none;
  }

  .main-nav a {
    background-color: transparent;
  }

  .main-nav a:hover {
    background-color: #2FBF71;
  }

  .main-nav a:hover:active {
    background-color: grey;
  }
}

@media screen and (min-width: 1024px) {
  .main-nav {
    font-size: 125%;
  }
}
.google-map { <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1
    d2602.5784260159835!2d-123.11135668431055!3d49.28438497933152!2m3!1f0!2f0!3f0!3m
    2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54867178375f3fa9%3A0x3f45422f7f069523!2s312+
    Water+St%2C+Vancouver%2C+BC+V6B!5e0!3m2!1sen!2sca!4v1485209885366" width="280"
    height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
}














/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
